*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    box-sizing: border-box;
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(33, 98, 161);
}
a:hover{
    text-decoration: underline;
    color: #0c3353;
}
body, html {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.border{
    height: 50px;
    padding: 0 8px;
    color: white;
    cursor: pointer;
}
.border:hover{
    border: 1px solid #fff;
    border-radius: 2px;
}

.navbelt{
    background-color: rgb(19, 25, 33);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left,
.center,
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    gap: 5px;
}

.left{
    margin: 0 10px;
}
.nav-logo{
    width: 114px;
    flex-shrink: 0;
}
.logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav-delivery{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;
}
.deliver{
    color: rgb(204, 204, 204);
    font-size: 0.75rem;
    font-weight: 400;
}
.country{
    font-size: 0.875rem;
    font-weight: 700;
}
.location-icon{
    margin-top: 12px;
}

.center{
    flex-grow: 1;
    margin: 0 12px 0 8px;
}
.nav-search{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 300px;
}
.nav-search:focus-within{
  outline: 2px solid #f90; 
  outline-offset: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(255, 153, 0, 0.5); 
}

.search{
    height: 100%;
    border: none;
}
.all{
    width: 48px;
    background-color: rgb(230, 230, 230);
    color: #555555;
    font-size: 0.85rem;
    text-align: center;
    padding: 2px 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #cdcdcd;
    flex-shrink: 0;
    cursor: pointer;
    border: none;
    outline: none;
}
.bar{
    padding: 0 8px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
}
.search-icon-container{
    width: 45px;
    background-color: rgb(254, 189, 105);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}
.search-icon-container:hover{
    background-color: #f3a847;
}
/* .search-icon-container:active{
    border: 5px solid rgb(229, 151, 0); 
}
*/
.search-icon{
    color: #333333;
    font-size: 21px;
}

.right{
    margin: 0 12px 0 8px;
}
.nav-language{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.875rem;
  font-weight: 700;
  flex-shrink: 0;
  padding: 0 2px;
}
.language-selector img {
  height: 16px;
  width: auto;
}
.nav-signin,
.nav-orders{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-shrink: 0;
}
.hello,
.ret{
    font-size: 0.75rem;
    font-weight: 500;
}
.acc-list,
.ord,
.cart{
    font-size: 0.875rem;
    font-weight: 700;
}
.nav-cart{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
}
.cart-icon{
    font-size: 1.75rem;
}
.cart{
    margin-top: 15px;
}

.navsprite{
    background-color: rgb(35, 47, 62);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bord2{
    height: 39px;
    padding: 0 8px;
    color: white;
    display: flex;
    align-items: center;
}
.bord2:hover{
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}
.left-sprite{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    flex-shrink: 0;
}
.nav-hamburger{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    margin: 0 10px;
}
.bars-icon{
    font-size: 1.2rem;
}
.all-bar{
    font-size: 0.875rem;
    font-weight: 700;
}
.fill{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    gap: 5px;
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}
.sub{
    font-size: 0.875rem;
    flex-shrink: 0;
}

.main{
    background-color: #E3E6E6;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.hero-section{
    width: 98.5%;
    height: auto;
    min-width: 50%;
    background-image: url('display-images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: start;
    position: relative;
}
.amazon-in{
    width: 97%;
    text-align: center;
    background-color: rgb(245, 246, 246);
    color: rgb(15, 17, 17);
    font-size: 0.875rem;
    line-height: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.shop-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    margin-top: 270px; 
    position: relative;
    bottom: 50%;
}
.box{
    background-color: white;
    height: 420px;
    flex: 1;
    min-width: 150px;
}
.box-content{
    background-color: white;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin: 22px 22px;
    position: relative;
}
.box-content h2{
    color: rgb(15, 17, 17);
    font-size: 1.3rem;
}
.box-content p{
    margin: 6px 0 15px 0;
    color: rgb(33, 98, 161);
    font-size: 0.9rem;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
}
.box-img{
    flex: 1;
}
.box-img img{
    max-width: none;
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.inner-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 15px;
    color: rgb(15, 17, 17);
    font-size: 0.75rem;
    line-height: 15px;
}
.inner-grid img,
.diff-grid img{
    max-width: none;
    width: 100%;
    object-fit: cover;
}
.diff-grid{
    display: grid;
    row-gap: 20px;
    color: rgb(15, 17, 17);
    font-size: 0.75rem;
    line-height: 15px;
}
.lower{
    display: flex;
    align-items: end;
    gap: 10px;
}






